<div class="chart-zone-indicator"></div>
<div class="pie-chart-inner-container">
    <div class="pie-chart-canvas-container col-md-6">
        <canvas id="<%=id%>_canvas"></canvas>
    </div>
    <div class="badge-bar-container chart-legend col-md-6"></div>
</div>
