<button class="btn btn-secondary dropdown-togglen sort-by-selection-btn" type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  <%=label%>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
<a href="#" class="btn btn-secondary sort-order-btn" role="button" aria-pressed="true">
  <i class="material-icons">sort</i>
  <i class="material-icons arrow">arrow_downward</i>
</a>