<div class="container">
  <div class="row">
    <div id="titleBar" class="col">
      <div id="pageTitle">India COVID-19 Tracker</div>
    </div>
  </div>
  <div class="border-top"></div>
  <div class="container country-chart-container">
    <div class="row">
      <div class="col-md-4 align-self-center">
        <div id="countryPieChartContainer"></div>
      </div>
      <div class="col-md-8 align-self-center">
        <div id="countryLineChartContainer"></div>
      </div>
    </div>
  </div>
  <div id="selectionNavBar" class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="topDistrictsBtn" class="nav-link" href="#">Top 10 Districts</a>
        </li>
        <li id="stateSelectionDropdown" class="nav-item dropdown">
          <a id="dropdownMenuButton" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Select State</a>
          <div class="dropdown-menu"></div>
        </li>
      </ul>
    </div>
  </div>
  <div id="topDistrictContainer" class="row">
    <div id="topDistrictSortByDropdown" class="mx-auto my-3">
      <button id="topDistrictDropdownMenuButton" class="btn btn-secondary dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Criteria:
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Confirmed</a>
        <a class="dropdown-item" href="#">Confirmed - Daily Increase</a>
        <a class="dropdown-item" href="#">Active</a>
        <a class="dropdown-item" href="#">Recovered</a>
        <a class="dropdown-item" href="#">Recovered - Daily Increase</a>
        <a class="dropdown-item" href="#">Deaths</a>
        <a class="dropdown-item" href="#">Deaths - Daily Increase</a>
        <a class="dropdown-item" href="#">Zone</a>
      </div>
    </div>
    <div id="topDistrictChartsContainer" class="row"></div>
  </div>
  <div id="stateContentMain" class="">
    <div id="stateStatusBanner" class="row">
      <div id="statePieChartContainer" class="col-md-2"></div>
      <div id="stateLineChartContainer" class="col-md-2 d-none d-lg-block"></div>
      <div id="statePieChartName" class="col-md-2"></div>
      <div id="stateStatusBadgesContainer" class="col-md-6"></div>
    </div>
    <div class="row district-wide-graphs-row">
      <div id="districtContainer">
        <div id="districtsHeader" class="row">
          <div class="col-sm-2"> 
            <div class="distric-header-text">Districts</div>
          </div>
          <div class="col-sm-6 district-badge-items">
            <div class="zones-header-text">Zones</div>
            <div class="badge badge-secondary zone-badge-Red" style="background-color:red"></div>
            <div class="badge badge-secondary zone-badge-Orange" style="background-color: orange"></div>
            <div class="badge badge-secondary zone-badge-Green" style="background-color: green"></div>
          </div>
          <div class="col-sm-4 sortby-dropdown">
            <div id="sortByDropdown" class="dropdown sort-by-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="sortBydropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Confirmed</a>
                <a class="dropdown-item" href="#">Confirmed - Daily Increase</a>
                <a class="dropdown-item" href="#">Active</a>
                <a class="dropdown-item" href="#">Recovered</a>
                <a class="dropdown-item" href="#">Recovered - Daily Increase</a>
                <a class="dropdown-item" href="#">Deaths</a>
                <a class="dropdown-item" href="#">Deaths - Daily Increase</a>
                <a class="dropdown-item" href="#">Zone</a>
              </div>
              <a id="sortOrderBtn" href="#" class="btn btn-secondary sort-order-btn" role="button" aria-pressed="true">
                <i class="material-icons">sort</i>
                <i class="material-icons arrow">arrow_downward</i>
              </a>
            </div>
          </div>
        </div>
        <div class="border-bottom"></div>
        <div id="districtChartsContainer"></div>
      </div>
    </div>
  </div>
  <div class="border-top my-3"></div>
  <div class="row">
    <div id="footerBar" class="col">
      <div id="footerCreditsText">Data Source: www.covid19india.org</div>
      <div id="footerDevText">Developed by Uday Bhasker. Work in progress.</div>
    </div>
  </div>
</div>