<div class="badge badge-secondary status-badge confirmed">
    <div class="badge-status-span badge-status-text">Confirmed</div>
    <div class="badge-status-span badge-status-count"><%=district.confirmed%></div>
    <div class="badge-status-span badge-status-delta">
        <i class="material-icons arrow"></i>
        <div class="badge-status-delta-text">&nbsp;</div>
    </div>
</div>
<div class="badge badge-secondary status-badge active">
    <div class="badge-status-span badge-status-text">Active</div>
    <div class="badge-status-span badge-status-count"><%=district.active%></div>
    <div class="badge-status-span badge-status-delta">
        <i class="material-icons arrow"></i>
        <div class="badge-status-delta-text">&nbsp;</div>
    </div>
</div>
<div class="badge badge-secondary status-badge recovered">
    <div class="badge-status-span badge-status-text">Recovered</div>
    <div class="badge-status-span badge-status-count"><%=district.recovered%></div>
    <div class="badge-status-span badge-status-delta">
        <i class="material-icons arrow"></i>
        <div class="badge-status-delta-text">&nbsp;</div>
    </div>
</div>
<div class="badge badge-secondary status-badge deceased">
    <div class="badge-status-span badge-status-text">Deceased</div>
    <div class="badge-status-span badge-status-count"><%=district.deceased%></div>
    <div class="badge-status-span badge-status-delta">
        <i class="material-icons arrow"></i>
        <div class="badge-status-delta-text">&nbsp;</div>
    </div>
</div>