<div class="collapse" id="collapseExample">
    <div class="card card-body row">
        <div class="row">
            <div class="col-sm">
                <div class="zone-rules-text">
                    Domestic and international air travel
                </div>
                <div class="zone-rules-img">
                    <img src="../../../img/icons/icons8-airplane-take-off-50.png"></img>
                </div>
            </div>
            <div class="col-sm">
                <div class="zone-rules-text">
                    Domestic and international air travel
                </div>
                <div class="zone-rules-img">
                    <img src="../../../img/icons/icons8-airplane-take-off-50.png"></img>
                </div>
            </div>
            <div class="col-sm">
                <div class="zone-rules-text">
                    Domestic and international air travel
                </div>
                <div class="zone-rules-img">
                    <img src="../../../img/icons/icons8-airplane-take-off-50.png"></img>
                </div>
            </div>
          </div>
    </div>
</div>